html
  head
    style
    script(src="a.js")
    link(href="a.css",rel="stylesheet")
  body
    div
      ul
        li
          input(type="text",id="txt1",value="abc")
        li
          input(type="text",id="txt2",value="111")
        li
          input(type="text",id="txt3",value="222")
    div aaa
      span bbb
    div(style="width:200px;height:200px;background:red")
    div(style= {width: '200px', height: '200px', background: 'red'})
    div(class="aaa left-warp active")
    div(class= ['aaa', 'left-warp', 'active'])
    div.box
    div#div1